@media (min-width: 1200px) {
}

/* @media screen and (max-width:992px){
    .header_wrapper .navbar-light .navbar-brand{
        width: 65%;
    }
    .header_wrapper .navbar-brand img {
        max-width: 75%;
    }
} */

/* navbar */



@media only screen and (max-width: 1440px) {
.quote_modal .modal::before{
    height:150%;
}
    .brand img{
        width:70%;
    }
    
    .social-nav {
        width:80%;
    }
    
    nav ul li a, nav ul li a:visited, .menu_right a, .social-nav a {
         font-size:14px;
    }
    .slider_wrapper .carousel-caption h5, .slider_wrapper .carousel-caption h1, .slider_wrapper .carousel-caption h2{
        font-size:40px;
        line-height: 50px;
    }
    .menu_right button{
            padding: 7px 20px;
    font-size: 14px;
    }
    .popular_product .product_content h3, .popular_product .product_content h2{
        font-size:50px;
    }
    .popular_product .product_content p{
        font-size:23px;
    }
    .popular_product{
        padding:20px 0 0 0 !important;
    } 
    #scroll_to_top{
        right:1%;
    }
    .effect-shine-uk{
        font-size:30px;
    }
    .text-bold-gray{
        font-size: 20px;
        line-height: 23px;
    }
    .application-bullet, .feature-plastic-pallets{
        height:320px;
    }
    .bullet-disc{
        font-size:16px;
    }
    .bullet-title{
        font-size:20px;
    }
    .ice-boxes-bullet{
        height:330px;
    }
}
@media only screen and (max-width: 1024px) {
    .brand img {
        width: 50%;
    }
    .header_contact {
        display: none;
    }
    .menu_right button {
        padding: 7px 20px;
        font-size: 12px;
    }
    .nav_wrapper:after{
        display:none;
    }
    .cta-section-uk img{
        margin-top:20px;
    }
}
@media only screen and (max-width: 800px) {
    .nav-mobile {
        display: block;
    }
    .menu_right {
        display: none;
    }
    .nav-list {
        width: 100%;
    }
    .brand {
        width: 70%;
    }

    nav {
        width: 100%;
        padding: 50px 0 0px;
    }
    nav ul {
        display: none;
    }
    nav ul li {
        float: none;
    }
    nav ul li a {
        padding: 15px;
        line-height: 20px;
        background: #262626;
    }
    nav ul li ul li a {
        padding-left: 30px;
    }
    .navbar-dropdown {
        position: static;
    }
    .social-nav {
        display: none;
    }

    .menu_flex .nav-list li .sub-menu {
        position: relative;
        top: 0;
        box-shadow: none;
        display: none;
    }
    .menu_flex .nav-list li .sub-menu li {
        border-bottom: none;
    }
    .menu_flex .nav-list li .sub-menu .more-sub-menu {
        display: none;
        position: relative;
        left: 0;
    }
    .menu_flex .nav-list li .sub-menu .more-sub-menu li {
        /* display: flex; */
        align-items: center;
        justify-content: space-between;
    }
    .links li:hover .htmlcss-arrow,
    .links li:hover .js-arrow {
        transform: rotate(0deg);
    }
    .menu_flex .nav-list li .sub-menu .more-sub-menu {
        display: none;
    }
    .menu_flex .nav-list li .sub-menu .more span {
    }
    .nav-list li .sub-menu .more:hover .more-sub-menu {
        display: none;
    }
    .menu_flex .nav-list li:hover .htmlCss-sub-menu {
        display: none;
    }
    .menu_flex .nav-list.show1 .links .htmlCss-sub-menu {
        display: block;
    }
    .menu_flex .nav-links.show1 .links .htmlcss-arrow {
        transform: rotate(180deg);
    }
    .menu_flex .nav-links.show2 .links .more-arrow {
        transform: rotate(90deg);
    }
    .product_list_inner{
            grid-template-columns: repeat(2, 1fr);
    }
    .popular_slider h3, .popular_slider h2, .productList_Dis h2, .FAQ_productList h4{
        font-size:30px;
    }
    .application_product{
        grid-template-columns: repeat(3, 1fr);
    }
    .details-tabs .nav-link{
        padding:12px 35px;
    }
}
@media screen and (min-width: 800px) {
    .nav-list {
        display: block !important;
    }
}

/* Navbar section */

/* slider-home */

@media (max-width: 1440px) {
    .footer_wrapper{
        margin-top:0;
    }
}
@media (max-width: 1024px) {
    .slider_wrapper .carousel-caption h5, .slider_wrapper .carousel-caption h1, .slider_wrapper .carousel-caption h2 {
        font-size: 36px;
        line-height: 35px;
    }
    .slider_wrapper .carousel-caption a {
        font-size: 10px;
        padding: 8px 10px;
    }
}
@media (max-width: 992px) {
    .blog_inner{
        grid-template-columns: repeat(2, 1fr);
    }
    .left_ft_modal{
        display:none;
    }
}
@media (max-width: 768px) {
    .slider_img{
         height: 400px;
        object-fit: cover;
        object-position: center;
    }
    .slider_wrapper .carousel-caption h5, .slider_wrapper .carousel-caption h1, .slider_wrapper .carousel-caption h2 {
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 10px;
    }
    .slider_wrapper .carousel-caption {
        top: 0;
        left: 7%;
    }
    .popular_product .product_content h3, .popular_product .product_content h2 {
        font-size: 42px;
    }
    .popular_product .product_content p {
        padding: 5px 0;
    }

    .footer_wrapper .footer_right {
        margin-left: 0;
    }
    nav ul li a,
    nav ul li a:visited,
    .menu_flex .nav-list li .sub-menu a {
        color: white;
    }
    .footer_wrapper .container::before{width: 100%;bottom: 0;
    height: 50%;top: unset;}
    .footer_wrapper .container::after{bottom: 0;width: 100%;
    height: 50%;}
    .footer_wrapper .custom_col_right {
    margin-bottom: 60px;
}
    .formsecup {
    flex-direction: column-reverse;
}
.left_ft_modal{
    display:none;
}
}

@media screen and (max-width: 576px) {
    .banner_text{
        padding:5px;
    }
    .menu_flex .nav-list li .sub-menu .more-sub-menu {
        box-shadow: none;
    }
    nav ul li a,
    nav ul li a:visited,
    .menu_flex .nav-list li .sub-menu a {
        color: white;
    }
    .mobile_none {
        display: none;
    }
    .brand img {
        width: auto;
    }
    .header_wrapper .navbar-light .navbar-brand {
        width: 65%;
    }
    .header_wrapper .navbar-brand img {
        max-width: 75%;
    }

    .header_wrapper .header_info {
        display: none;
    }
    .header_wrapper .navbar-brand::after {
        display: none;
    }

    /* top-slider */
    .slider_img{
     height: 220px;
    object-fit: cover;
    object-position: center;
    }
    
    .slider_wrapper .carousel-caption {
        width: 90%;
        left: 5%;
        top: -10%;
    }
    .slider_wrapper .carousel-caption h5, .slider_wrapper .carousel-caption h1, .slider_wrapper .carousel-caption h2 {
        font-size: 14px;
        line-height: normal;
        margin-bottom:10px;
    }
    .slider_wrapper .carousel-caption ul li {
        font-size: 10px;
    }
    .slider_wrapper .carousel-caption button {
        font-size: 10px;
        padding: 5px 10px;
    }
    .slider_wrapper .carousel-indicators [data-bs-target] {
        display: none;
    }
    /* top-slider */

    .popular_product .product_content h3, .popular_product .product_content h2 {
        font-size: 32px;
    }
    .popular_product .product_content p {
        padding: 0;
        font-size: 18px;
        line-height: normal;
    }

    .footer_left {
        max-width: 540px;
    }
    .client_wrapper .card-body {
      padding-left: 10px !important;
      padding-right: 10px !important;
  }
  .footer_wrapper .footer_left {
     padding: 0px; 
    }
    .certificates .block_content P{
        text-align:center;
        max-width:100%;
    }
    .contact_info{
        display:block;
    }
     .blog_inner{
        grid-template-columns: repeat(1, 1fr);
    }
    .product_list_inner{
        grid-template-columns: repeat(1, 1fr);
    }
    .popular_slider h3, .popular_slider h2, .productList_Dis h2, .FAQ_productList h4{
        font-size:22px;
    }
    .details-tabs h3{
        font-size:20px;
    }
    .details-tabs .nav-link{
        padding:12px 19px;
    }
    .application_product{
        grid-template-columns: repeat(2, 1fr);
    }
    .bullet-point-disc{
        width:100%;
    }
       .effect-shine-uk{
         font-size:20px;
     }
}

@media only screen and (max-width: 320px) {
    .slider_wrapper .carousel-caption {
        width: 90%;
        left: 5%;
        top: -19%;
    }
.brand img {
    width: 90%;
}
 .application_product{
        grid-template-columns: repeat(1, 1fr);
    }

/* video page Responsive Start  */

@media only screen and (max-width: 1400px) {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
    .mainYTvideos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}
@media only screen and (max-width: 540px) {
    .mainYTvideos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
}
/* video page Responsive End */

/* contact page Responsive Start  */
@media only screen and (max-width: 1400px) {
}
@media only screen and (max-width: 1024px) {
    .map_size {
        height: 450px;
    }
    .details_wrapper {
        display: block;
    }
    .comman_space {
        margin-left: 0;
        margin-top: 20px;
    }
}
@media only screen and (max-width: 992px) {
    .details_wrapper {
        display: block;
    }
    .comman_space {
        margin-left: 0;
    }
}
@media only screen and (max-width: 768px) {
    .details_wrapper {
        display: block;
    }
    .comman_space {
        margin-left: 0;
    }
}
@media only screen and (max-width: 540px) {
    .map_size {
        height: 350px;
    }
}
/* contact page Responsive End */

/* product page start */


@media only screen and (max-width: 1500px){
    .custom_glass_effect .gc-display-area{
        height: 370px !important;
        width: 370px !important;
    }
}
@media only screen and (max-width: 1024px){
    .custom_glass_effect .gc-display-area{
        height: 370px !important;
        width: 370px !important;
    }
}

@media only screen and (max-width: 768px){
    .custom_glass_effect .gc-display-area{
        height: 270px !important;
        width: 270px !important;
    }
    .custom_glass_effect .gc-zoom-area{
        height: 240px !important;
        width: 240px !important;
        left:350px !important;
    }
}

@media only screen and (max-width: 540px){
    .custom_glass_effect .gc-display-area{
        height: 495px !important;
        width: 333px !important;
    }
     .custom_glass_effect .gc-overlay-top-icons{
         top:20% !important;
     }
     .custom_glass_effect .gc-overlay-display-center{
         top:60% !important;
     }
     .tab-content{
         padding:0 !important;
     }

}
@media only screen and (max-width: 425px){
    .custom_glass_effect .gc-display-area{
        height:300px !important;
        width:300px!important;
    }
    
}
@media only screen and (max-width: 375px){
    .custom_glass_effect .gc-display-area{
        height:270px !important;
        width:270px!important;
    }
}
@media only screen and (max-width: 320px){
    .custom_glass_effect .gc-display-area{
        height: 220px !important;
    width: 220px !important;
    }
}

/* product page end */

/* product-list page Responsive Start  */
@media only screen and (max-width: 1440px) {
     .popular_slider h3,
    .we_are_wrapper .we_are_inner h3, .we_are_wrapper .we_are_inner h2 {
        font-size: 26px;
    }
     .product_list_inner p {
        font-size: 20px;
    }
}
@media only screen and (max-width: 1024px) {
    .popular_slider h3 {
        font-size: 32px;
    }
    .application_product p {
        font-size: 22px;
    }
}
@media only screen and (max-width: 992px) {
    .application_product {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .product_list_inner p {
        font-size: 18px;
    }
    .popular_slider h3,
    .we_are_wrapper .we_are_inner h3, .we_are_wrapper .we_are_inner h2 {
        font-size: 30px;
    }
    .application_product p {
        font-size: 20px;
    }
    .quote_modal .modal-body {
        padding: 10px;
    }
}
@media only screen and (max-width: 768px) {
    .application_product {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 540px) {
    .product_list_inner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    .application_product {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    .product_slider_details h2 {
        font-size: 22px;
        margin-top: 15px;
    }
    
}
/* product-list page Responsive End */

/* download page Responsive Start  */
@media only screen and (max-width: 1400px) {
    .main_title h3 {
        font-size: 40px;
    }
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
    .download_pdf_inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .main_title h3 {
        font-size: 36px;
    }
}
@media only screen and (max-width: 540px) {
    .download_pdf_inner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* download page Responsive End */

/* about page Responsive Start  */
@media only screen and (max-width: 1400px) {
     .contact_details h3{
        font-size: 36px;
    }
    .details_wrapper a, address{
        font-size:13px;
    }
    address{
        max-width:350px;
    }
    .details_wrapper h4{
        font-size:16px;
    }
    .hvr-float-shadow img{
        width:80%;
    }
    .comman_space {
    margin-left: 10px;
    }

}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
    .about_company_inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .contact_details h3,
    .about_warehouse h3 {
        font-size: 36px;
    }
    .about_company_title h3 {
        font-size: 30px;
    }
}
@media only screen and (max-width: 540px) {
    .contact_details h3,
    .about_warehouse h3 {
        font-size: 30px;
        margin-top: 15px;
    }
    .about_detail_wrapper,
    .warehouse_padd {
        margin-left: auto;
    }
    .about_company_title h3 {
        font-size: 30px;
    }
    .about_company_inner {
        grid-template-columns: repeat(1, 1fr);
    }
    .about_detail ul:nth-child(1) {
        margin-right: 20px;
    }
}
/* about page Responsive End */

/* about page Responsive Start  */
@media only screen and (max-width: 1400px) {
    .blog-post-date h5{
        font-size:16px;
        padding:6px 12px;
    }
    .blog-post-date p{
        padding:6px 12px;
    }
    
}
@media only screen and (max-width: 1024px) {
    .blog_inner {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
    .blog_inner {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 540px) {
    .blog_inner {
        grid-template-columns: repeat(1, 1fr);
    }
}
/* about page Responsive End */

/* case-study page Responsive Start  */
@media only screen and (max-width: 1400px) {
}
@media only screen and (max-width: 1024px) {
    .case_studies_img_inner {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
    .case_studies_img_inner {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 540px) {
    .case_studies_img_inner {
        grid-template-columns: repeat(1, 1fr);
    }

  
}
/* case-study page Responsive End */
